
body {
  color: lightgray;
  background: rgb(31, 31, 31);
}

.navbar {
  background-color: rgb(16, 107, 8);
  margin-left: 0;
  height: 40pt;
  display: flex;
  align-items: center;

  
}

.navbar-item {
  margin-left: 10;
  margin-right: 10;


  
}